.hero__elements{
  margin-bottom: 60px;
}

.hero__all{
  background-color: var(--hero-bg);
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 17px;

}

.hero__iframe{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__iframe-contaent{
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}
.hero__iframe-img{
  width: 48px;
  height: 48px;
  display: block;
  margin-right: 16px;
}
.hero__iframe-title{
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--darc);
  margin-bottom: 8px;
  
}
.hero__iframe-text{
  font-size: 12px;
  line-height: 16px;
  display: block;
  color: #808080;  
}
.hero__main-nav{
  width: 244px;
}
.hero__navigation{
  position: fixed;
}
.hero__main-nav-with{
  width: 72px;

  .active--link{
    background-color: transparent;
  }
}
@include respon(1312px){
  .hero__main-nav{
    width: 72px;
    .active--link{
      background-color: transparent;
    }
  }
}
.tags__list{
  display: flex;
  justify-content: space-between;
}
.hero__gif{
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hero__iframes{
  cursor: pointer;
  max-height: 406px;
  &:hover{
    .hero__gif{
      display: block;
    }
    .hero__iframe{
      display: none;
    }
  }
}
.hero__iframes{
  height: 199px;
}

@include respon(1784px){
  .hero__iframes{
    height: 167px;
  }
}
@include respon(1532px){
  .hero__iframes{
    height: 139px;
  }
}
@include respon(1199px){
  .hero__iframes{
    height: 165px;
  }
}
@include respon(1031px){
  .hero__iframes{
    height: 132px;
  }
}
@include respon(991px){
  .hero__iframes{
    height: 200px;
  }
}
@include respon(828px){
  .hero__iframes{
    height: 160px;
  }
}
@include respon(828px){
  .hero__iframes{
    height: auto;
  }
}
.site-header__span{
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: #00000067;
  z-index: 19;
  top: 0;
  left: 0;
  right: 0;
}
.span--block{
  width: 100%;
  height: 100vh;
}
.over{
  overflow: hidden;
}
.user-bar{
  z-index: 20;
}
